* {
  /* border: solid green 1px */
}
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-container {
  display: flex;
  height: 500px;
  width: 600px;
  align-items: center;
  justify-content: center;
  background-color: #d3d3d3
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

#login-button {
  height: 50px;
  font-size: 25px;
}

#login-button {
  height: 50px;
  font-size: 25px;
  cursor: pointer;
}

#password-input {
  height: 50px;
  margin-bottom: 80px;
  font-size: 20px;
}

#username-input {
  height: 50px;
  margin-bottom: 20px;
  font-size: 20px;
}

#login-header {
  display:flex;
  font-size: 50px;
  justify-content: center;
  height: 100px;
}